@font-face {
    font-family: General Sans;
    src: url(./font/GeneralSans-Regular.otf);
}
@font-face {
    font-family: General Sans Medium;
    src: url(./font/GeneralSans-Medium.otf);
}
* {
    padding: 0;
    margin: 0;
    font-family: 'General Sans';
    box-sizing: border-box;
    color: #fff;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: black;
}
header {
    width: 100%;
    padding: 1.4vw 0;
}
nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5vw;
}
h1.logo {
    font-family: General Sans Medium;
    font-size: 2vw;
}
nav ul {
    display: flex;
    align-items: center;
    align-items: center;
    gap: 2.1vw;
}
nav ul li {
    list-style: none;
    font-size: 1.2vw;
}
nav ul li a {
    text-decoration: none;
    font-weight: 500;
    opacity: 0.8;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
}
nav ul li a::after, .backButton a::after {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 1.25px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
    width: 100%;
}
nav ul li a:hover::after, .backButton a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
}
/* #slider {
    background-color: #1b1919 !important;
    width: 100%;
    background: url(./assets/dewalt-11-4276-image-big.png);
    background-repeat: no-repeat;
    background-position: top;
} */
.collectionsContainer {
    width: 100%;
    padding: 80px 50px 30px 50px;    
    position: relative;
    
}
.inner-container{
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inner-container h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'General Sans Medium';
    line-height: 1;
    letter-spacing: 0.02em;
}
#collections {
    display: flex;
    column-gap: 18.6px;
    flex-wrap: wrap;
    row-gap: 40px;
}

#collections a{
    width: 24%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.inner-container a img{
    width: 100%;
    height: 400px;
}
.productContent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid;
    background-color: #025959;
    padding: 0 10px;
    padding-bottom: 7px;
}
.inner-container a h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.035em;
    line-height: 1.5;
    margin-top: 10px; 
}
.categoryName {
    margin-top: 15px !important;
}
.priceRate {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-grow: 1;
    padding-top: 5px;
}
.back{
    position: absolute;
    top: 50%;
    left: 2%;
    cursor: pointer;
    z-index: 11;
}
.forward{
    position: absolute;
    top: 50%;
    right: 2%;
    cursor: pointer;
    z-index: 11;
}
.pageNotFound h1 {
    font-size: 6.5vw;
    font-family: General Sans MEdium;
    word-spacing: 12px;
    text-transform: uppercase;
    text-align: center;
}
.backButton {
    border: 1px solid #fff;
    padding: 1.3vw 2vw;
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.backButton a {
    font-weight: 600;   
    text-decoration: none;
    font-family: General Sans;
    font-size: 1.15vw;
    max-width: fit-content;
    position: relative;
}
.productContianer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 90px;
    padding-top: 70px;
}
.imageRow {
    width: 48%;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}   
.imageRow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 11px;
}
.nextImage {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.nextImage img {
    border-radius: 7px;
    height: 75px;
    width: 100px;
    object-fit: fill;
    cursor: pointer;
}
.contentRow {
    width: 43%;
}
.contentRow p {
    color: #08c4c4;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: right;
    margin-bottom: 20px;
}
.contentRow h2 {
    font-family: 'General Sans Medium';
    font-size: 2.2rem;
    line-height: 1;
    margin-bottom: 33px;
    line-height: 3.2rem;
}
.contentRow h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.75;
    margin-bottom: 25px;
}
h3.price {
    color: #08c4c4;
    font-size: 1.4rem;
    margin-bottom: 45px;
}

.counterCart {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 51px;
}
.counter {
    display: flex;
    gap: 40px;
    background-color: #5a9393;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    height: 100%;
}
h3.add, h3.subtract {
    font-size: 1rem;
    font-weight: 900;
    font-family: 'General Sans Medium';
    cursor: pointer;
}
h3.update {
    font-size: 1rem;
    font-weight: 700;
    color:rgb(255, 255, 255);
}
a.addToCart {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    height: 100%;
    width: 65%;
    background-color: #08c4c4;
    border-radius: 10px;
    justify-content: center;
}
a.addToCart h3{
    font-size: 1rem;
    letter-spacing: 0.02em;
}